[".agents/skills/gh-stack"]
type = "archive"
refreshPeriod = "168h"
url = "https://github.com/github/gh-stack/archive/refs/tags/v0.1.0.tar.gz"
exact = true
stripComponents = 3
include = ["*/skills/gh-stack/**"]
checksum.sha256 = "cf510d30c78453cce0b833d8c04db09a1ae8b6d8770f1163b58b0554e9d3e0fd"
[".agents/skills/daisyui"]
type = "archive"
refreshPeriod = "168h"
url = "https://github.com/saadeghi/daisyui/archive/9adbeaa259816be46b98bf497a09cd2ab127e3cf.tar.gz"
exact = true
stripComponents = 3
include = ["*/skills/daisyui/**"]
checksum.sha256 = "89414720ecdb77890c416456393c47bfcce03bc2cbf2d71f164f7e2b154a8c42"

{{ if and (eq .platform "linux") (not .headless) -}}
[".local/share/fonts/JetBrainsMonoNerdFont"]
type = "archive"
url = {{ .jetbrainsMonoNerdFont.url | quote }}
exact = true
include = ["*.ttf", "LICENSE*", "LICENSE", "OFL.txt"]
checksum.sha256 = {{ .jetbrainsMonoNerdFont.sha256 | quote }}
{{- end -}}
