[".agents/skills/gh-stack"]
type = "archive"
url = "https://github.com/github/gh-stack/archive/refs/tags/v0.1.0.tar.gz"
exact = true
stripComponents = 3
include = ["*/skills/gh-stack/**"]
checksum.sha256 = "cf510d30c78453cce0b833d8c04db09a1ae8b6d8770f1163b58b0554e9d3e0fd"
{{ if and (eq .platform "linux") (not .headless) -}}
[".local/share/fonts/JetBrainsMonoNerdFont"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.5.1/JetBrainsMono.tar.xz"
exact = true
include = ["*.ttf", "LICENSE*", "LICENSE", "OFL.txt"]
checksum.sha256 = "04d5e8f903693f9dd13e16f867e994834e681eb3c72c0d337a770dcda09010cf"
{{- end -}}
