# Reorder PATH only in login shells.

set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx XDG_DATA_HOME "$HOME/.local/share"
set -gx XDG_STATE_HOME "$HOME/.local/state"
set -gx XDG_CACHE_HOME "$HOME/.cache"
# Cursor documents automatic XDG lookup only on Linux/BSD.
set -gx CURSOR_CONFIG_DIR "$XDG_CONFIG_HOME/cursor"

set -gx PYTHONSTARTUP "$XDG_CONFIG_HOME/python/pythonstartup.py"
set -gx PYTHON_HISTORY "$XDG_STATE_HOME/python/history"
set -gx IPYTHONDIR "$XDG_CONFIG_HOME/ipython"
set -gx LESSHISTFILE "$XDG_STATE_HOME/less/history"
set -gx PSQL_HISTORY "$XDG_STATE_HOME/psql/history"
set -gx SQLITE_HISTORY "$XDG_STATE_HOME/sqlite/history"
# Keep matplotlib config and its font cache out of ~/.matplotlib.
set -gx MPLCONFIGDIR "$XDG_CACHE_HOME/matplotlib"

set -gx EDITOR vim
set -gx PAGER less
# Ctrl-R shows the date. Alt-T still cycles unix time, then no prefix.
set -gx FZF_CTRL_R_OPTS "--with-nth 1,3.. --bind 'alt-t:change-with-nth(2..|3..|1,3..)'"

for dir in $XDG_STATE_HOME/python $XDG_STATE_HOME/less $XDG_STATE_HOME/psql $XDG_STATE_HOME/sqlite $XDG_CACHE_HOME/npm
    test -d $dir
    or mkdir -p -- $dir
end

set -l brew_prefix "{{ .brewPrefix }}"

if status is-login
    # Fish does not read /etc/zprofile; load macOS system paths here.
    if test -x /usr/libexec/path_helper
        for line in (/usr/libexec/path_helper -s)
            set -l m (string match -r -- '^(PATH|MANPATH)="([^"]*)"' $line)
            if set -q m[2]
                set -gx $m[2] (string split : -- $m[3])
            end
        end
    end

    fish_add_path --path --move "$HOME/.local/bin" $brew_prefix/bin $brew_prefix/sbin
end

if test -d $brew_prefix
    set -gx HOMEBREW_PREFIX $brew_prefix
    set -gx HOMEBREW_CELLAR $brew_prefix/Cellar
{{- if eq .platform "darwin" }}
    set -gx HOMEBREW_REPOSITORY $brew_prefix
{{- else }}
    set -gx HOMEBREW_REPOSITORY $brew_prefix/Homebrew
{{- end }}
    # A leading colon preserves the default man search path.
    if set -q MANPATH[1]
        set -gx MANPATH '' (string match -v -- '' $MANPATH)
    end
    set -l brew_info $brew_prefix/share/info
    if not string match -q -- "$brew_info*" -- "$INFOPATH"
        if test -n "$INFOPATH"
            set -gx INFOPATH "$brew_info:$INFOPATH"
        else
            set -gx INFOPATH "$brew_info:"
        end
    end
end
